*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    height: 60%;
    width: 100%;
    background-color: rgb(252, 221, 221);
}

.card{
    display: inline-block;
    padding: 50px;
    margin-left: 360px;
    height: 300px;
    width: 300px;
    margin-top: 250px;
    text-align: center;
    margin-bottom: 290px;
    font-size: 25px;
    background-color: rgb(255, 192, 192) ;
    border-radius: 10%;
    box-shadow: 10px 10px rgb(0, 0, 0);
    animation: vindoLado 1s backwards;
   
}
.logo{
    height: 100px;
    position: fixed;
    animation: vindo2 2s forwards;
    
    
    

}
.retangulo{
    background-color: black;
    display: inline-block;
    width: 100%;
    height: 100px;
    position: fixed;

}

.rodape{
    background-color: black;
    height: 80px;
    color: rgb(255, 255, 253);
    text-align: center;
    padding-top: 60px;
    font-size: 25px;
}
.img{
    height: 400px;
    width: 400px;
    animation: vindo 2s 2 alternate; 
    transition-duration: 3s;

}
@media (max-width:900px){
    .cabeca .img-rs{
        left: 300px;
        
    }
    .card{
        margin: 0px;
        margin-top: 200px;
        height: 100px;
        width: 100px;
        margin-left: 50px;
        margin-bottom: 200px;
        
        
    }

    .img{
        height: 200px;
        width: 200px;
        margin-bottom: 10px;

    }
    .retangulo{
        width: 390px;
        position: fixed;
    }
    .card .perfume{
        font-size: 30px;
        margin-left: -80px;
   
        
    }
    .rodape{
        height: 5px
    }
    .card .embreve{
        width: 350px;
        height: 400px;
        margin-left: -100px;
        
    }
    
    
    

    
}

.img:hover{
    animation: mexendo 1s infinite alternate ease;
    cursor: pointer;


}

.perfume{
    margin-left: 30px;
    color: black;
    box-shadow: inset;
    cursor:default;
    margin-top:0px;
    border-bottom: 1px solid;
    font-family: Copperplate Gothic;
    letter-spacing: 10px;

    
    
    font-size: 30px;
    padding: 10px;
}

@keyframes mexendo{
    to{
        transform: translateY(-30px);

    }
}

@keyframes vindoLado{
    from{
        transform: translateX(-400px);
    }
    to{
        transform: translateX(0px);
    }
}


@keyframes vindo2{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}
.img-rs{
    height: 40px;
    width: 40px;
    position: fixed;
    left: 1700px;
    top: 30px;
    animation: vindo2 2s forwards;

}
.img-rs2{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 270px;
    top: 30px;
    border-radius: 10px;
    animation: vindo2 1s forwards;
}
.embreve{
    position: absolute;
    height: 600px;
    width: 600px;
    margin-top: -120px;
    margin-left: -120px;

}

